{
    "extends": "@istanbuljs/nyc-config-typescript",
    "exclude": ["**/*.d.ts", "**/__tests__/**"],
    "include": ["app/**"],
    "all": true,
    "reporter": ["html", "lcov"],
    "report-dir": "./coverage-e2e"
}